<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Segev's Recpies login</title>
</head>
<body>
  <header>
    <h1 class="title_text">Segev's Recpies(segev's verion)</h1>
  </header>  
<main>  
 <section class="login-form">
    <h2>Login</h2>
    <form method="post" action="/">
        <div>
            <label>Email</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>
        <!-- Button -->
        <div>
            <div>
                <p></p>
                <input type="submit"/>
                <a href="/home"></a>
            </div>
        </div> 
     <button href="/signup">sign-up</button>
    </form>
  </section>
</main>
  <footer>
    <p>&copy;Cooking Website. All rights reserved to Segev.</p>
  </footer>
</body>
</html>