<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Segev's Recpies</title>
</head>
<body>
    <form method="post" action="/">
        <h4>
        Log in to your account $_$
        </h4>

        <div>
            <label>Email</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>
        <!-- Button -->
        <div>
            <div>
                <p>pressss</p>
                <input type="submit"/>
                <a href="/home">
            </div>
        </div>    
    </form>
    <br>
    <a href="/signup"><button>signup</button></a>
</body>
</html>