<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Segev's Recpies</title>
</head>
<body>
    <form method="post" action="/">
        <h4>
        Log in to your account $_$
        </h4>

        <div>
            <label>Username</label>
            <div>
                <input type="username"  name="username" id="username" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>

        <p>if you dont have an acount signup</p><a herf="/signup">here</a>

        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
    </form>
    <br>
    <a href="/home"><button>signup</button></a>
</body>
</html>