<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h2>Welcome to Segev's Recpies(segev's verion</h2>
    <form method="post" action="/signup">
        <h4>
            Create an account :>
        </h4>
        <p >
            *Pls fill up your information below to signup*
        </p>

        <div>
            <label>First Name</label>
            <div>
                <input type="fname"  name="fname" id="fname" required>
            </div>
        </div>

        <div>
            <label>Last Name</label>
            <div>
                <input type="lname"  name="lname" id="lname" required>
            </div>
        </div>

        <div>
            <label>Username</label>
            <p>your username *-*(pick a username diffrent from your real name)</p>
            <div>
                <input type="username"  name="username" id="username" required>
            </div>
        </div>        

        <div>
            <label id="number-label" for="number">Your Age: </label>
            <input type="number" id="number" name="Age" placeholder="select" min="12" max="110" required>
            <p>*its important to us to know your age so we can know you can use the recipes on your on*</p>
            <p>*you need to be at least 12 to open the website*</p>
        </div>

        <div>
            <label>Email Address</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
                <p>!only 6 Characters!</p>
                <p>and pick a strong password</p>
            </div>
        </div>

        <div>
            <input type="submit" herf="/home"> 
        </div>
    </form>
    <br>  
</body>
</html>